<!DOCTYPE html>
<html lang="zh-CN"  style="height: 100%">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="height: 90%; margin: 20px">
<div id="container" style="height: 90%" class="my-4 w-100"></div>
<div class="table-responsive" style="margin: auto auto; width: 85%">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th>树莓派温度传感器数据：</th>
        </tr>
        </thead>
        <tbody id="inf">
        <tr>
            <td>连接服务器成功！</td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.min.js"></script>
<script src="lib/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="javascripts/xadmin.js"></script>
<script type="text/javascript">
    var myChart = echarts.init(document.getElementById("container"));
    var data = [];
    var day = 1;
    // 模拟数据
    // function getVirtulData(year) {
    //     year = year || '2017';
    //     var date = +echarts.number.parseDate(year + '-01-01');
    //     var end = +echarts.number.parseDate((+year + 1) + '-01-01');
    //     var dayTime = 3600 * 24 * 1000;
    //     var data = [];
    //     for (var time = date; time < end; time += dayTime) {
    //         data.push([
    //             echarts.format.formatTime('yyyy-MM-dd', time),
    //             Math.floor(Math.random() * 10)
    //         ]);
    //     }
    //     console.log(data);
    //     return data;
    // }

    option = {
        title: {
            top: 30,
            left: 'center',
            text: '树莓派仿日照数据'
        },
        tooltip: {},
        visualMap: {
            min: 0,
            max: 5,
            type: 'piecewise',
            orient: 'horizontal',
            left: 'center',
            top: 65,
            textStyle: {
                color: '#000'
            }
        },
        toolbox: {
            show: true,
            feature: {
                dataView: {readOnly: false},
                saveAsImage: {}
            }
        },
        calendar: {
            top: 120,
            left: 30,
            right: 30,
            cellSize: [40, 60],
            range: '2020-01',
            itemStyle: {
                borderWidth: 0.5
            },
            yearLabel: {show: false}
        },
        series: {
            type: 'heatmap',
            coordinateSystem: 'calendar',
            data: data
        }
    };

    myChart.setOption(option);
    setInterval(function () {
        var num = Math.floor(Math.random() * 5);
        data.push([
                    '2020-1-'+day,num]);
        var newTr = document.getElementById("inf").firstElementChild.cloneNode(true);
        newTr.children[0].innerHTML = "2020-1-"+day+"&nbsp;&nbsp;&nbsp;"+"传感器日照次数为:"+num+"&nbsp;&nbsp;&nbsp;"+"上传服务器成功！";
        document.getElementById("inf").appendChild(newTr);
        day++;
        myChart.setOption({
            series: [{
                data: data
            }]
        })
    }, 3000);

</script>
</body>
</html>